<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orsonwu.limited_sale.db.mappers.LimitedSaleCommodityMapper">
  <resultMap id="BaseResultMap" type="com.orsonwu.limited_sale.db.po.LimitedSaleCommodity">
    <id column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_desc" jdbcType="VARCHAR" property="commodityDesc" />
    <result column="commodity_price" jdbcType="DECIMAL" property="commodityPrice" />
  </resultMap>
  <sql id="Base_Column_List">
commodity_id, commodity_name, commodity_desc, commodity_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from limited_sale_commodity
    where commodity_id = #{commodityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from limited_sale_commodity
    where commodity_id = #{commodityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.orsonwu.limited_sale.db.po.LimitedSaleCommodity">
    insert into limited_sale_commodity (commodity_id, commodity_name, commodity_desc, 
      commodity_price)
    values (#{commodityId,jdbcType=BIGINT}, #{commodityName,jdbcType=VARCHAR}, #{commodityDesc,jdbcType=VARCHAR}, 
      #{commodityPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.orsonwu.limited_sale.db.po.LimitedSaleCommodity">
    insert into limited_sale_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityDesc != null">
        commodity_desc,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityDesc != null">
        #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.orsonwu.limited_sale.db.po.LimitedSaleCommodity">
    update limited_sale_commodity
    <set>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityDesc != null">
        commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where commodity_id = #{commodityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orsonwu.limited_sale.db.po.LimitedSaleCommodity">
    update limited_sale_commodity
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=DECIMAL}
    where commodity_id = #{commodityId,jdbcType=BIGINT}
  </update>
</mapper>